<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-6 col-centered lead">
          <br/><br/>
          <img width="200" src="/img/hackaday.png"/>
          <br/><br/><br/>
          <p>O <a href="https://hackaday.io/prize">Hackaday Prize</a> é uma competição internacional promove o desenvolvimento de projetos de Hardware e Software livres.</p><p>Na edição 2015, das mais de 900 equipes participantes, o projeto <a href="https://hackaday.io/project/4812-tact-tiles">Tact-Tiles</a>, tecnologia que a Helena Glove usa, ficou entre os <a href="https://hackaday.com/2015/08/24/100-semifinalists-for-the-2015-hackaday-prize/">100 primeiros semifinalistas</a>!</p>
          <br/><br/><br/>
        </div>
    </div>
</section>
